<!DOCTYPE html>
<html lang="en" ng-app="random">

<head>
   <meta charset="utf-8">
   <title>idek</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="images/favicon.png">
   <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet'>
   <link href='https://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet'>
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
   <link rel="stylesheet" href="css/styles.min.css">
   <link rel="stylesheet" href="css/lib/snarl.min.css">
</head>

<body ng-controller="AppController as AppCtrl" ng-cloak>

   <md-card id="login" ng-hide="loggedIn" ng-class="{loginFadeIn: !loggedIn, loginFadeOut: loggedIn}">
      <form id="loginForm" ng-submit="loginRequest()" name="loginForm">
         <md-input-container>
            <label>Username</label>
            <input type="text" id="typeUsername" ng-model="username" maxlength=10 required autocomplete="off" />
         </md-input-container>
         <md-button id="loginButton" type="submit">Join <span ng-show="username.length > 0"> as <span class="gray">{{username}}</span></span>
         </md-button>
      </form>
   </md-card>

   <div id="chatPane" ng-show="loggedIn" ng-class="{scrollFadeIn: loggedIn, scrollFadeOut: !loggedIn}">
      <div style="width: calc(100vw - 230px); overflow: hidden;">
         <div id="chat">

            <div id="fixed">
               <div id="whiteBar"></div>
               <form id="chatForm">
                  <md-input-container>
                     <label style="text-align: left;">Enter message here</label>
                     <input type="text" id="enterMessage" autocomplete="off" ng-model="chatMessage" />
                  </md-input-container>
                  <md-button type="submit" id="submitMessage">Send message</md-button>
               </form>
            </div>

            <div id="scroll">
               <ul id="messages"></ul>
            </div>

            <div id="container">
               <header id="onlineNum"></header>
               <ul id="online"></ul>
               <md-button ng-click="logOut()" id="logout">Log out</md-button>
            </div>
            <div id="containerBottom">
               <p id="whosTyping"></p>
               <p id="newMessages" ng-show="newMessages > 0">{{newMessages}} new message<span ng-show="newMessages > 1">s</span></p>
            </div>

         </div>

      </div>

   </div>

   <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
   <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
   <!-- Fallback scripts -->
   <script>
      window.jQuery || document.write('<script src="js/lib/jquery-3.0.0.min.js"><\/script>');
      window.io || document.write('<script src="js/lib/socket.io-1.4.5.js"><\/script>');
      if (!window.angular) {
         document.write('<script src="js/lib/angular.min.js"><\/script>');
         document.write('<script src="js/lib/angular-animate.min.js"><\/script>');
         document.write('<script src="js/lib/angular-aria.min.js"><\/script>');
      }
      if (!window.ngMaterial) {
         document.write('<script src="js/lib/angular-material.min.js"><\/script>');
         document.write('<link rel="stylesheet" href="css/lib/angular-material.min.css">')
      }
   </script>
   <script src="js/app.js"></script>
   <script src="js/app.controller.js"></script>
   <script src="js/lib/snarl.min.js"></script>
   <script src="https://use.fontawesome.com/1b2b6ade64.js"></script>
</body>

</html>
